.card {
	margin: 1.5rem;
	padding: 10px;
	text-align: center;
	color: #fff;
	border: 1px solid;
	border-radius: 1rem;
	max-width: 300px;
	-webkit-border-radius: 1rem;
	-moz-border-radius: 1rem;
	-ms-border-radius: 1rem;
	-o-border-radius: 1rem;
}
